*{
    box-sizing: border-box;
}
h1{
    margin-bottom: 15px;
    text-align: center;
}
p{
    border: 1px;
    background-color: rgba(128, 128, 128, 0.692);
    width: 150;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration-color: black;

}
#chicken{
    border:5px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:5px;
    margin-right:50px;
    
    
}
#beef{
    border: 5px;
    margin-top: 5px;
    margin-bottom:5px;
    margin-left:5px;
    margin-right:50px

}
#shushin{
    border: 5px;
    margin-top: 5px;
    margin-bottom:5px;
    margin-left:5px;
    margin-right:50px

}

@media(min-width: 1200px){
    .col-md-1,.col-md-2,.col-md-3,.c0l-md-4 .col-md-5,.col-md-6,.col-md-7,.c0l-md-8.col-md-9,.col-md-10,.col-md-11,.c0l-md-12{
        float: left;
        border: 3px; color: solid black;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
        
    }
    .col-lg-3{
        width: 25%;

        
    }
    .col-lg-4{
        width: 33%;
        
    }
    .col-lg-5{
        width: 41.66%;
        
    } 
    .col-lg-6{
        width: 50%;

    }  
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
}
@media(min-width:950px) and (max-width: 1199px) {
    .col-md-1,  .col-md-2,  .col-md-3,  .col-md-4,  .col-md-5, .col-md-6,
     .col-md-7, .col-md-8, .col-md-9,.col-md-10, .col-md-11, .col-md-12{
        float: left;
        border: sspx; color: solid green;
     }
     .col-md-1{
        width: 8.33%;
     }
     .col-md-2{
            width: 16.66%;
         }
         .col-md-3{
            width: 25%;
         }
         .col-md-4{
            width: 33%;
         }
         .col-md-5{
            width: 41.66%;
         }
         .col-md-6{
            width: 50%;
         }
         .col-md-7{
            width: 58;
         }
         .col-md-8{
            width: 66.66%;
         }
         .col-md-9{
            width: 74%
          }  
          .col-md-10{
            width: 83.66%;
          } 
          .col-md-11{
            width: 91.66%;
          }
          .col-md-12{
            width: 100%;
          }


        
}             


    
